# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
coverage

.eslintcache
.stylelintcache

.vscode/*
!.vscode/setting.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip

auto-imports.d.ts
components.d.ts
package-lock.json
pnpm-lock.yaml

docs/.vitepress/dist
docs/.vitepress/cache
