$namespace: 'wdt'!default;
$common-separator: '-'!default;
$element-separator: '__'!default;
$modifier-separator: '--'!default;
$state-prefix: 'is-'!default;
$var-prefix: '--'!default;
$var-sperator: '-'!default;